.logo{
    min-width: 5%;
    max-width: 20%;
}
.qr{
    min-width: 30%;
    max-width: 60%;
}
.tg{
    max-width: 30%;
    min-width: 15%;
    
}
body{
    background: url(/picks/back.jpg) no-repeat;
    background-size: cover;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}